/* radio 按钮组 start */
.layui-radio-group > .layui-btn{
    background-color: #fff;
    padding: 4px 16px;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    border: 1px solid #dcdcdc;
    border-right: 0;
    line-height: 22px;
    transition: color .2s cubic-bezier(0,0,.32,1);
    color: rgba(0, 0, 0, .9);
    white-space: nowrap;
}
.layui-radio-group > .layui-btn:hover {
    color: #0052d9;
}
.layui-radio-group > .layui-btn:first-child {
    border-radius: 5px 0 0 5px;
    border-left:1px solid #dcdcdc;
}
.layui-radio-group > .layui-btn:last-child {
    border-right: 1px solid;
    border-right-color: #dcdcdc;
    border-radius: 0 5px 5px 0;
}
.layui-radio-group > .layui-btn.layui-this{
    border-right: 1px solid;
    border-color: #0052d9;
    transition: border-color .2s cubic-bezier(0,0,.32,1);
    color: #0052d9;
}
/* radio 按钮组 end */

/* 数组输入框步进器 start */
.number-input{
    display: flex;
    max-width: 215px;
}
.number-input .plus-btn{
    border-radius: 0 5px 5px 0;
}
.number-input .minus-btn{
    border-radius: 5px 0 0 5px;
}
.number-input input{
    -moz-appearance:textfield;
    border-radius: 0;
    text-align: center;
    border-color: var(--td-brand-color);
}
.number-input input::-webkit-outer-spin-button {
    -webkit-appearance: none;	/* 有无看不出差别 */
}
/* 数组输入框步进器 end */