.layui-iconpicker {
    max-width: 280px;
}

.layui-iconpicker .layui-anim {
    display: none;
    position: absolute;
    left: 0;
    top: 42px;
    padding: 5px 0;
    z-index: 899;
    min-width: 100%;
    border: 1px solid #d2d2d2;
    max-height: 300px;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12);
    box-sizing: border-box;
    width: 275px;
}

.layui-iconpicker-item {
    border: 1px solid #e6e6e6;
    width: 90px;
    height: 33px;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
}

.layui-iconpicker-icon {
    border-right: 1px solid #e6e6e6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 60px;
    height: 100%;
    float: left;
    text-align: center;
    background: #fff;
    transition: all .3s;
    border-radius: 3px;
}

.layui-iconpicker-icon i {
    line-height: 36px;
    font-size: 18px;
}

.layui-iconpicker-item > .layui-edge {
    left: 68px;
}

.layui-iconpicker-item:hover {
    border-color: #D2D2D2 !important;
}

.layui-iconpicker-item:hover .layui-iconpicker-icon {
    border-color: #D2D2D2 !important;
}

.layui-iconpicker.layui-form-selected .layui-anim {
    display: block;
}

.layui-iconpicker-body {
    padding: 6px;
}

.layui-iconpicker .layui-iconpicker-list {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.layui-iconpicker .layui-iconpicker-icon-item {
    display: inline-block;
    width: 21.1%;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
    vertical-align: top;
    height: 36px;
    margin: 4px;
    border: 1px solid #ddd;
    border-radius: 2px;
    transition: 300ms;
}

.layui-iconpicker .layui-iconpicker-icon-item i.layui-icon {
    font-size: 17px;
}

.layui-iconpicker .layui-iconpicker-icon-item:hover {
    /*background-color: #eee;*/
    border-color: #0052d9;
    color: #0052d9;
    -webkit-box-shadow: 0 0 2px #aaa, 0 0 2px #fff inset;
    -moz-box-shadow: 0 0 2px #aaa, 0 0 2px #fff inset;
    box-shadow: 0 0 2px #aaa, 0 0 2px #fff inset;
    text-shadow: 0 0 1px #fff;
}

.layui-iconpicker-search {
    position: relative;
    margin: 0 0 6px 0;
    /*border: 1px solid #e6e6e6;*/
    border-radius: 2px;
    transition: 300ms;
}

.layui-iconpicker-search:hover {
    border-color: #D2D2D2 !important;
}

.layui-iconpicker-search .layui-input {
    cursor: text;
    display: inline-block;
    /*width: 86%;*/
    /*border: none;*/
    padding-right: 0;
    margin-top: 1px;
}

.layui-iconpicker-search .layui-icon {
    position: absolute;
    /*top: 11px;*/
    line-height: 35px;
    right: 4%;
}

.layui-iconpicker-tips {
    text-align: center;
    padding: 8px 0;
    cursor: not-allowed;
}

.layui-iconpicker-page {
    margin-top: 6px;
    margin-bottom: -6px;
    font-size: 12px;
    padding: 0 2px;
}

.layui-iconpicker-page-count {
    display: inline-block;
}

.layui-iconpicker-page-operate {
    display: inline-block;
    float: right;
    cursor: default;
}

.layui-iconpicker-page-operate .layui-icon {
    font-size: 12px;
    cursor: pointer;
}

.layui-iconpicker-body-page .layui-iconpicker-icon-limit {
    display: none;
}

.layui-iconpicker-body-page .layui-iconpicker-icon-limit:first-child {
    display: block;
}

.layui-iconpicker{
    height: 32px;
    line-height: 32px;
    transition: all cubic-bezier(.38,0,.24,1) .2s;
}
.layui-iconpicker .layui-inline{
    height: 30px;
    line-height: 30px;
}

.layui-iconpicker-search > .layui-input-wrap{
    height: 32px;
    line-height: 32px;
}

.layui-iconpicker.layui-form-selected > .layui-select-title >.layui-iconpicker-item{
    border-color: #0052d9 !important;
    box-shadow: 0 0 0 2px #d4e3fc;
}