<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>IA Admin 后台登录</title>
    <link rel="stylesheet" href="/static/admin/layui/css/layui.css">
    <link rel="stylesheet" href="/static/admin/css/admin.css?v={:time()}">
    <link rel="stylesheet" href="/static/admin/font/iconfont.css?v={:time()}">
    <link rel="stylesheet" href="/static/admin/css/login.css?v={:time()}">
    <link rel="stylesheet" href="/static/admin/css/util.css?v={:time()}">

</head>
<body>
<div class="dowebok">
    <div class="page-loading" ia-event="page-loading">
        <div class="loading-icon">
            <i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop"></i>
        </div>
    </div>
    <div class="container-login">
        <div class="wrap-login">
            <div class="login-pic js-tilt" data-tilt="">
                <img src="/static/admin/images/login-img.png" alt="img">
            </div>

            <form class="login-form validate-form layui-form" >
					<span class="login-form-title">
						后台登录
					</span>

                <div class="wrap-input validate-input">
                    <input class="input layui-input"  type="text" name="email" placeholder="邮箱">
                    <span class="symbol-input">
                        <i class="layui-icon layui-icon-username" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="wrap-input validate-input">
                    <input class="input layui-input login-form-pass-input" type="password" name="pass" placeholder="密码">
                    <span class="symbol-input" onclick="ssss()">
                        <i class="layui-icon layui-icon-password" aria-hidden="true"></i>
                        <i onclick="show()" lay-event="pass-view" class="icon layui-icon layui-icon-extend-browse password-view-icon" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="container-login-form-btn">
                    <button class="login-form-btn" type="submit" lay-submit lay-filter="login-submit" ia-event="loading">
                        登陆
                    </button>
                </div>

                <div class="text-center p-t-12">
<!--                    <a class="txt2" href="javascript:">-->
<!--                        忘记密码？-->
<!--                    </a>-->
                </div>

                <div class="text-center p-t-136">
<!--                    <a class="txt2" href="https://www.helloweba.net/" target="_blank">-->
<!--                        还没有账号？立即注册-->
<!--                        <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>-->
<!--                    </a>-->
                </div>
            </form>
        </div>
    </div>
</div>

<!-- 引入 layui.js 的 <script> 标签最好放置在 html 末尾 -->
<script src="/static/admin/layui/layui.js"></script>
<script>
    layui.use(['jquery','form'],function () {
        let $ = layui.jquery, form = layui.form;

        $("[lay-event]").on('click',function (event) {
            console.log(event)
        })
        console.log(1)
        let page_loading = $("[ia-event='page-loading']");
        $("button[ia-event='loading']").on('click',function (obj) {
            let _this = $(this)

            _this.attr("disabled","disabled")
            _this.css("opacity","0.7")
            _this.append('<i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop btn-loading"></i>');
            setTimeout(function () {
                _this.children('i.btn-loading').remove()
                _this.removeAttr('disabled')
                _this.css("opacity","1")
            },1500)
            return false;
        })
        page_loading.fadeOut(500);
        form.on('submit(login-submit)', function(data) {
            console.log('login submit')
            page_loading.fadeIn(500);
            setTimeout(function () {
                location.href = "/admin";
            },1000)
            return false;
        });
    })
</script>
</body>
</html>