{extend name="basic/page_layout" /}

{block name="head"}
<link rel="stylesheet" href="/static/admin/font-awesome/css/font-awesome.min.css">

{/block}

{block name="body"}
<body>

<div class="popup-contain">
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label for="" class="layui-form-label">父级</label>
            <div class="layui-input-block">
                <select name="pid" lay-verify="requried">
                    <option value="0">顶级</option>
                    {foreach $permissions as $k1=>$p1}
                    <option value="{$p1.id}">{$p1.title}</option>
                    {if isset($p1['children']) && !empty($p1['children']) }
                    {foreach $p1['children'] as $k2=>$p2}
                    <option value="{$p2.id}" >&nbsp;&nbsp;&nbsp;┗━━{$p2.title}</option>
                    {/foreach}
                    {/if}
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="" class="layui-form-label">权限名称</label>
            <div class="layui-input-block">
                <input type="text" maxlength="16" name="title"  lay-verify="required" placeholder="请输入权限名称" class="layui-input" >
            </div>
        </div>
        <div class="layui-form-item">
            <label for="" class="layui-form-label">地址</label>
            <div class="layui-input-block">
                <input type="prompt" href="{:url('getPermissionList')}" field="path" name="href" placeholder="请输入地址" class="layui-input" >
            </div>
        </div>
        <div class="layui-form-item">
            <label for="" class="layui-form-label">图标</label>
            <div class="layui-input-block" style="width: unset">
                <input type="text" id="iconPicker2" name="icon" lay-filter="iconPicker2" class="hide">
                <span class="layui-btn layui-btn-primary" id="clear">清空</span>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">权限类型：</label>
            <div class="layui-input-block">
                <input type="radio" name="type" value="0" title="目录" checked>
                <input type="radio" name="type" value="1" title="菜单">
                <input type="radio" name="type" value="2" title="按钮">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="" class="layui-form-label">排序</label>
            <div class="layui-input-block">
                <input type="number" step="1" min="0" name="sort" value="10" lay-verify="required" placeholder="排序权重" class="layui-input" >
            </div>
        </div>
        <div class="bottom">
            <div class="button-container">
                <button type="submit" class="layui-btn layui-btn-primary " lay-submit="" lay-filter="save">
                    <i class="layui-icon layui-icon-ok"></i>
                    提交
                </button>
                <button type="reset" class="layui-btn  ">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
    </form>
</div>

<!-- 引入 layui.js 的 <script> 标签最好放置在 html 末尾 -->
<script src="/static/admin/layui/layui.all.js"></script>
<script src="/static/admin/config.js"></script>
<script>
    layui.use(['form','element','icon','jquery','request'],function () {
        let icon= layui.icon;
        let $ = layui.jquery;
        let form = layui.form;
        let table = layui.table;
        let request = layui.request;
        icon.render({
            elem: '#iconPicker2',
            type: 'all',
            style: 'color: #0052d9;'
            ,placeholder: ''
            ,isSplit: true
            ,page: true
            ,search: true
            ,click: function (data) {
            },
            ready: function(d) {
            },
            url:'{:url("develop.Icon/getJson")}'
        });

        ///
        // 选择器，推荐使用input
        // elem: '#iconHhysFa',
        //     // 数据类型：fontClass/awesome，推荐使用fontClass
        //     type: 'fontClass',
        //     // 是否开启搜索：true/false，默认true
        //     search: true,
        //     // 是否开启分页：true/false，默认true
        //     page: true,
        //     // 每页显示数量，默认12
        //     limit: 12,
        //     url: '',
        //     value: '',//默认图标
        //     // 点击回调
        //     click: function(data) {
        //     console.log(data);
        // },
        // // 渲染成功后的回调
        // success: function(d) {
        //     console.log(d);
        // }

        function initNumberInput(){

            //乘法
            function mul(a, b) {
                var c = 0,
                    d = a.toString(),
                    e = b.toString();
                try {
                    c += d.split(".")[1].length;
                } catch(f) {}
                try {
                    c += e.split(".")[1].length;
                } catch(f) {}
                return Number(d.replace(".", "")) * Number(e.replace(".", "")) / Math.pow(10, c);
            }
//除法
            function div(a, b) {
                var c, d, e = 0,
                    f = 0;
                try {
                    e = a.toString().split(".")[1].length;
                } catch(g) {}
                try {
                    f = b.toString().split(".")[1].length;
                } catch(g) {}
                return c = Number(a.toString().replace(".", "")), d = Number(b.toString().replace(".", "")), mul(c / d, Math.pow(10, f - e));
            }

            function add(a, b) {
                var c, d, e;
                try {
                    c = a.toString().split(".")[1].length;
                } catch(f) {
                    c = 0;
                }
                try {
                    d = b.toString().split(".")[1].length;
                } catch(f) {
                    d = 0;
                }
                return e = Math.pow(10, Math.max(c, d)), (mul(a, e) + mul(b, e)) / e;
            }
//减法
            function sub(a, b) {
                var c, d, e;
                try {
                    c = a.toString().split(".")[1].length;
                } catch(f) {
                    c = 0;
                }
                try {
                    d = b.toString().split(".")[1].length;
                } catch(f) {
                    d = 0;
                }
                return e = Math.pow(10, Math.max(c, d)), (mul(a, e) - mul(b, e)) / e;
            }
            $("input[type=number]").each(function (el) {
                let html = '<div class="layui-inline number-input">';
                html += '<span class="layui-btn minus-btn layui-btn-primary"><i class="layui-icon layui-icon-subtraction"></i></span>'
                html += $(this).prop("outerHTML");
                html += '<span class="layui-btn plus-btn layui-btn-primary"><i class="layui-icon layui-icon-add-1"></i></span>'
                html += '</div>';
                $(this).replaceWith(html)

            });
            $('span.plus-btn').on('click',function (el) {
                let numberInput = $(this).parent().find('input');
                let step = numberInput.attr('step')
                let max = numberInput.attr('max')
                if (step === undefined){
                    step = 1;
                }
                if (max !== undefined && add(numberInput.val(),step) > max){
                    return;
                }
                numberInput.val(add(numberInput.val(),step));
            })
            $('span.minus-btn').on('click',function (el) {
                let numberInput = $(this).parent().find('input');
                let step = numberInput.attr('step')
                let min =  numberInput.attr('min')
                if (step === undefined){
                    step = 1;
                }
                if (min !== undefined && sub(numberInput.val(),step) < min){
                    return;
                }
                numberInput.val(sub(numberInput.val(),step));

            })
        }

        initNumberInput();

        function promptInputInit(){
            let iptTimer = null;
            function searchInputTable(tableId,value){
                console.log(iptTimer);
                if (iptTimer){
                    clearTimeout(iptTimer); // 清除上一个定时器
                }
                iptTimer = setTimeout(function () {
                    table.reload(tableId,{
                        where:{
                            key:value
                        }
                    })
                }, 300);
            }
            let promptID = 0;
            $("input[type=prompt]").each(function (el) {
                let _this = $(this);
                let url = $(this).attr('href');
                let field = $(this).attr('field');
                if (url === undefined){
                    return;
                }
                let curID = "promptID_" + promptID;
                let tableHtml = '<div class="prompt-pop-table layui-anim layui-anim-upbit layui-hide" style="display: none"><table class="layui-hide" id="'+ curID +'" lay-filter="'+ curID +'"></table></div>';
                $(this).after(tableHtml);

                $(this).on('focus',function () {
                    $('.prompt-pop-table.layui-show').removeClass('layui-show').addClass('layui-hide');
                    let focusThis = $(this);
                    if (!focusThis.hasClass('input-focus')){
                        focusThis.addClass('input-focus')
                    }
                    let pop = $(this).parent().find('.prompt-pop-table');
                    // let pop = $(this).parent().find('.prompt-pop-table').slideDown(100).show();
                    if (pop.hasClass('layui-hide')){
                        pop.removeClass('layui-hide');
                        pop.addClass('layui-show');
                    }
                })
                $(document).bind('click', function(el) {
                    let e = el || window.event;
                    let elem = e.target || e.srcElement;
                    while (elem) {
                        if ($(elem).hasClass('prompt-pop-table')){
                            return;
                        }
                        if ($(elem).attr('type') === 'prompt'){
                            return;
                        }
                        elem = elem.parentNode;
                    }
                    $('.prompt-pop-table.layui-show').removeClass('layui-show').addClass('layui-hide')
                    $('.input-focus').removeClass('input-focus');
                });
                //展示已知数据
                table.render({
                    elem: '#' + curID
                    ,url:url
                    ,cols: [[ //标题栏
                        {field: 'title', title: '权限', width: 120}
                        ,{field: 'path', title: '路径', width: 320}
                    ]]
                    ,id:curID
                    ,skin: 'line' //表格风格
                    ,even: true
                    //,page: true //是否显示分页
                    //,limits: [5, 7, 10]
                    //,limit: 5 //每页默认显示的数量
                });
                _this.bind('input propertychange', function() {
                    let valt = _this.val();
                    searchInputTable(curID,valt);
                })
                //监听行单击事件（双击事件为：rowDouble）
                if (field === undefined){
                    return;
                }
                table.on('row('+ curID +')', function(obj){
                    let data = obj.data;
                    _this.val(data[field]);
                    if (data.title){
                        $('input[name=title]').val(data.title)
                    }
                    $('.prompt-pop-table.layui-show').removeClass('layui-show').addClass('layui-hide');
                    $('.input-focus').removeClass('input-focus');
                });
            });
        }

        promptInputInit();



        $('#clear').click(function() {
            $('#iconPicker2').attr("value","");
            $('#iconPicker2').attr("title","");
            $('.layui-iconpicker-main').children("i").attr("class","");
            $('.layui-iconpicker-main').children("span").remove();
        });

        form.on('submit(save)', function(data){
            if(data.field.icon){
                data.field.icon = "layui-icon" + data.field.icon;
            }

            request.post({
                url:'{:url("add")}',
                data:data.field,
                is_close:true,
                reload_table:'power-table'
            })

            // $.ajax({
            //
            //     data:JSON.stringify(data.field),
            //     dataType:'json',
            //     contentType:'application/json',
            //     type:'post',
            //     success:function(res){
            //         //判断有没有权限
            //         if(res && res.code==999){
            //             layer.msg(res.msg, {
            //                 icon: 5,
            //                 time: 2000,
            //             })
            //             return false;
            //         }else if(res.code==200){
            //             layer.msg(res.msg,{icon:1,time:1000},function(){
            //                 parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前页
            //                 top.location.reload();
            //             });
            //         }else{
            //             layer.msg(res.msg,{icon:2,time:1000});
            //         }
            //     }
            // })
            return false;
        });
    });


</script>
</body>

{/block}